@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.nav-link {
		@apply bg-myblue-100 px-2 py-1 rounded text-cyan-900 font-medium cursor-pointer hover:bg-myblue-200 hover:text-gray-900 hover:font-medium text-center text-sm sm:text-base tracking-wider shadow-lg transition ease-in duration-500;
	}

	.my-svgs {
		@apply bg-gray-300 p-1 rounded border border-black;
	}

	.contact-form-inputs {
		@apply bg-myblue-100 focus:outline-none focus:ring focus:ring-myblue-300 focus:border-none text-gray-900 focus:bg-myblue-50 rounded opacity-90 focus:opacity-100;
	}

	.contact-section {
		@apply grid justify-items-center content-center 
		
		gap-4 text-2xl tracking-wider p-8 text-gray-900  border-gray-500 rounded-lg;
	}

	.contact-submit-btn {
		@apply py-2 px-6 rounded shadow text-white font-semibold tracking-widest border border-gray-500 bg-myblue-300 hover:bg-myblue-200 hover:border-myblue-300 hover:border-2 m-4 transition ease-in duration-500;
	}

	.resume-header {
		@apply font-medium text-2xl tracking-widest border-b-2 mb-2 text-white;
	}
	.skills {
		@apply bg-myblue-300 text-white px-5 rounded py-1 hover:bg-myblue-50 hover:text-myblue-300 hover:font-semibold;
	}
	.story-paragraph {
		@apply prose text-gray-200 bg-gray-800 max-w-2xl mx-auto p-4 rounded-b-lg shadow-lg h-screen sm:h-[39em] overflow-auto sm:overflow-x-auto scroll-smooth text-sm sm:text-base leading-7 rounded-lg sm:leading-7;
	}

	.story-header {
		@apply text-gray-300 text-center text-lg sm:text-3xl font-medium p-4 tracking-wider border-b drop-shadow-lg;
	}
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
